meta(charset="UTF-8")

block title
    title=title

meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=3.0')

base(href='/')

<!-- Search Engine -->
meta(name="description" content=description)

<!-- Favicon -->
link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
link(rel="manifest" href="/site.webmanifest")
link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
meta(name="apple-mobile-web-app-title" content="Roger B.")
meta(name="application-name" content="Roger B.")
meta(name="msapplication-TileColor" content="#ff0000")
meta(name="theme-color" content="#ffffff")

<!-- Twitter -->
meta(name="twitter:site" content="http://rogerbentcha.fr")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content=title)
meta(name="twitter:description" content=description)
meta(name="twitter:image" content="http://rogerbentcha.fr/images/card.png")

<!-- Open Graph general (Facebook, Pinterest & Google+) -->

meta(name="og:title" content=title)
meta(name="og:url" content="http://rogerbentcha.fr")
meta(name="og:description" content=description)
meta(name="og:image" content="http://rogerbentcha.fr/images/card.png")
meta(name="og:type" content="website")

link(rel="stylesheet", href="main.css" type="text/css")
