- const list = ['Website', 'Logo design', 'UI Design']

.tabs
   .tabs__group.tabs__group-style
      .tabs__list.tabs__list-style
         each item in list
            .tabs__items.tabs__items-style
               button.tabs__item.tabs__item-style(type="button")=item
               span.tabs__item__divider
      .tabs__panels.tabs__panels-style
         .tabs__panel
            .project__grids
               each video in website
                  .projects__grids__items__video
                     .projects__grids__item__video
                        video(src=video.src playinline loop autoplay)
                        h4=video.title
                     .projects__grids__item__video__detail
                        +button-icon(video.url, 'View project')
         .tabs__panel
            .projects__logos
               each logo in logos
                  .projects__logos__item
                     img.projects__logos__item__img(src=logo.imgUrl)
                     .projects__logos__item__detail
                        h4=logo.title
         .tabs__panel
            .projects__design
               .projects__design__collumn
                  each item in collum0
                     .projects__design__item
                        .projects__design__item__cover
                           img(src=item.src playinline loop autoplay)
                        .projects__design__item__detail
                           h4=item.title
                           span=item.type
                        if item.link
                           .projects__design__item__link
                              +button-icon(item.link, 'View project')

               .projects__design__collumn
                  each item in collum1
                     .projects__design__item
                        .projects__design__item__cover
                           img(src=item.src playinline loop autoplay)
                        .projects__design__item__detail
                           h4=item.title
                           span=item.type
               .projects__design__collumn
                  each item in collum2
                     .projects__design__item
                        .projects__design__item__cover
                           img(src=item.src playinline loop autoplay)
                        .projects__design__item__detail
                           h4=item.title
                           span=item.type

