mixin button(href, text, bool)
  a(class!=attributes.class href=href data-links=bool)
    span.button__wrapper__flex
      | #{text}
      if block
        block

mixin service-button(href, text, type)
  button(class!=attributes.class href=href data-service=type)
    span.button__wrapper__flex
      | #{text}
      if block
        block

mixin Button(text, type)
  button(class!=attributes.class type=type)
    span.button__wrapper__flex
      | #{text}
      if block
        block

mixin button-icon(href, text)
  a.button.button-primary.button-bg(href=href)
    span.button__wrapper__flex=text
      include components/svg/arrow-right.svg


mixin badge(text)
   .badge
      span.badge__text=text
